/* Ẩn mũi tên trên tất cả trình duyệt */
.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Loại bỏ mũi tên trên Chrome, Safari, Edge và Opera */
    margin: 0;
}
.pos{
   position: relative;
}
.bold{
   font-weight: bold;
}
.co-nau{
   color: #27C375;
}
.co-red{
   color: #FF2000;
   font-weight: bold;
}
.no-arrow {
    -moz-appearance: textfield; /* Loại bỏ mũi tên trên Firefox */
    appearance: textfield;      /* Ẩn mũi tên trên các trình duyệt khác */
}
#nhapGT_TL, #result, #dis_none, #AnKQ{
   display: none;
}
* {
   font-family: "Roboto", sans-serif;
   position: relative;
}
.Dola{
   width: 30px;
   height: auto;
}
.iconBalo{
   z-index: 11;
   width: 300px;
   height: auto;
   object-fit: cover;
   transform: scaleX(-1);
   mix-blend-mode: color-burn;
   position: absolute;
   top: 52px;
   left: 61%;
}
.title {
   background: linear-gradient(45deg, #32cd32, #00ff00, #00e5ff, #8a2be2);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: #0ff;
   text-shadow: rgba(62,66,66,0.39) 5px 10px 7px;
   text-align: center;
   text-transform: uppercase;
   font-size: 35px;
}
#baloForm{
   text-align: center;
}
#baloForm table{
   margin-left: 41%;
}
#baloForm .Box{
   width: 500px;
   padding: 10px 20px;
   text-align: left;
}
#baloForm .Box .no-arrow, #GT_SL_Form .Box .no-arrow{
   background-color: #fffcf2; 
   border: 2px solid #32cd32; 
   border-radius: 8px; 
   padding: 5px;
   font-size: 18px;
   font-weight: bold;
   color: #333;
   transition: 0.3s;
}
#baloForm .Box .no-arrow:hover, #GT_SL_Form .Box .no-arrow:hover{
   background: #d9ebd9;
}
.no-arrow:focus{
   border-color: #05f458;
    box-shadow: 0 0 10px rgba(50, 205, 50, 0.5);
    outline: none;
}
.title_add{
   background-color: #32cd32;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    border-bottom: 5px solid #4b824b;
    border-right: 5px solid #4f944f;
}
.btnSubmit{
   background-color: #32cd32;
   color: #fff;
   border: none;
   border-radius: 8px;
   padding: 10px 20px;
   font-size: 18px;
   font-weight: bold;
   cursor: pointer;
   transition: 0.3s;
   margin-top: 15px;
}
.btnSubmit:hover{
   background-color: #47ef18;
    box-shadow: 0 0 10px rgba(37, 253, 8, 0.5);
}
#baloForm .Box input, #nhapGT_TL .Box input{
   width: 50px;
   height: 30px;
   outline: none;
   border-radius: 7px;
   border: 1px solid #FF2000;
   text-align: center;
   cursor: pointer;
}
.content_SS1{
   text-align: center;
   font-size: 19px;
   color: #1E90FF;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: -30px;
   margin-left: 60px;
}
.content_SS1 .loadGame{
   position: absolute;
   top: -62px;
   right: 36%;
   cursor: pointer;
   background-color: transparent;
}
.content_SS1 .loadGame:hover {
   transition: 1s;
   transform: rotate(180deg); 
}
.content_SS1 .pos{
   display: flex;
   justify-content: center;
}
.content_SS1 .Nd1{
   top: -35px;
   font-size: 30px;
   font-weight: bold;
   color: #000;
   left: -54px;
   top: 35px;
   background: #FFF;
   width:33px;
   height: 30px;
}
.content_SS1 .Nd2{
   font-size: 30px;
   font-weight: bold;
   color: #FFF;
   background: #000;
   width: 50px;
   height: 30px;
   left: -76px;
   top: 43px;
}
.content_SS1 p img{
   width: 100px;
   height: auto;
   object-fit: cover;
   mix-blend-mode: color-burn;
}
.content_SS1 .loadGame:not(:hover) {
   transition: 1s;
   transform: rotate(0deg);
}
#nhapGT_TL{
   text-align: center;
}
#nhapGT_TL .Box{
   display: flex;
   align-items: center;
   justify-content: center;
}
#nhapGT_TL .Box p{
   margin-right: 15px;
}
#nhapGT_TL .Box input{
   margin-right: 15px;
}
#table_PA, #table_PA_ThamAn {
   border-collapse: collapse;
}
#table_PA td, #table_PA_ThamAn td{
   border: 1px solid #000;
   padding: 5px;
   text-align: center;
   width: 20px;
   height: 20px;
}
#result{
   text-align: center;
   margin-top: 15px;
}
.Bg_Nau{
   background: #A6EFC3;
}
/* Thêm lớp cho ô i\j */
.ij-cell {
   position: relative;
   background: linear-gradient(45deg, transparent 49%, #000 50%, transparent 51%);
   width: 15px; /* Giảm kích thước */
   height: 15px;
   text-align: center;
   vertical-align: middle;
}

.ij-cell::before,
.ij-cell::after {
   content: '';
   position: absolute;
   color: black;
}

.ij-cell::before {
   content: 'i';
   bottom: 2px;
   left: 5px;
}

.ij-cell::after {
   content: 'j';
   top: -1px;
   right: 3px;
}

.punk-bg {
   background-color: #ea6fea; /* Màu hồng neon */
   color: white; /* Chữ màu trắng */
}
.co-red{
   color: #FF2000;
}
.loadGame{
   width: 65px;
   height: auto;
   border-radius: 50%;
}
.row_BPA{
   display: flex;
}
.BPA_QHD{
   display: flex;
   justify-content: end;
}
.conatiner{
   overflow-x: auto; /* Cho phép cuộn ngang khi nội dung quá rộng */
   -webkit-overflow-scrolling: touch; /* Thêm cho các thiết bị di động */
}
.left_QHD{
   width: calc(50% - 10px);
   text-align: right;
   padding-right: 30px;
   border-right: 1px solid #000;
   overflow-x: auto; /* Thêm thanh cuộn ngang */
   max-width: 50%; /* Giới hạn chiều rộng tối đa của bảng */
}
.right_ThamAn{
   z-index: 10;
   width: calc(50% - 10px);
   padding-left: 30px;
   text-align: left;
}
#result_QuyHoachDong{
   text-align: left;
}
#result_ThamAn{
   max-width: 22%;
}
.mg0{
   margin-top: 0;
   margin-bottom: 0;
}
.title_PA{
   text-align: center;
   font-size: 22px;
}
.title_PA::before{
   position: absolute;
   content: "";
   width: 200px;
   height: 35px;
   margin-right: 10px;
   left: 29.5%;
   top: -5px;
   border-radius: 0 0 6px 0;
   border-bottom: 2px solid #00ff00;
   border-right: 2px solid #00ff00;
}
.title_PA::after{
   position: absolute;
   content: "";
   width: 200px;
   height: 35px;
   top: -7px;
   left: 57%;
   border-radius: 6px 0 0 0;
   border-top: 2px solid #00ff00;
   border-left: 2px solid #00ff00;
}
.title_KetQua{
   text-align: center;
   font-size: 22px;
}
.title_KetQua::before{
   position: absolute;
   content: "";
   width: 200px;
   height: 35px;
   margin-right: 10px;
   left: 33%;
   top: -5px;
   border-radius: 0 0 6px 0;
   border-bottom: 2px solid #00ff00;
   border-right: 2px solid #00ff00;
}
.title_KetQua::after{
   position: absolute;
   content: "";
   width: 200px;
   height: 35px;
   top: -7px;
   left: 53.5%;
   border-radius: 6px 0 0 0;
   border-top: 2px solid #00ff00;
   border-left: 2px solid #00ff00;
}

.rowKetQua{
   width: 97%;
   display: flex;
   justify-content: center;
   
}
.rowKetQua #result_QuyHoachDong{
   border-right: 1px solid #000;
   width: 220px;
}
.CacDoVatDcChon{
   padding-left: 20px;
   margin-top: 0;
   margin-bottom: 0;
   max-width: none !important;
   padding: 10px 20px;
}
.CacDoVatDcChon_ThamAn{
   width: 20px;
   margin-top: 30px;
   margin-left: 0;
}
.kq_GTLN{
   background: #05f458;
   padding: 10px;
   border-bottom: 1px solid #FFF;
}
.kq_GTLN_kq{
   background: yellow;
   margin-top: 0;
   margin-bottom: 0;
   flex: 1;
   padding-left: 20px;
   max-width: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-bottom: 1px solid #FFF;
}
.kq_GTLN_kq_ThamAn{
   background: yellow;
   margin-top: 0;
   margin-bottom: 0;
   max-width: 65px;
   height: 39px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-bottom: 1px solid #FFF;
}
.row_KqGTLN{
   display: flex;

}
.noWrap{
   flex-wrap: nowrap;
}
.mg_top{
   height: 19px;
}
.mg_bottom{
   margin-bottom: 40px;
}
.dapan{
   position: absolute;
   top: -49px;
   right: 37%;
   width: 89px;
   z-index: -2;
}