/* Ẩn mũi tên trên tất cả trình duyệt */
.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Loại bỏ mũi tên trên Chrome, Safari, Edge và Opera */
    margin: 0;
}
.co-red{
   color: #FF2000;
   font-weight: bold;
}
.no-arrow {
    -moz-appearance: textfield; /* Loại bỏ mũi tên trên Firefox */
    appearance: textfield;      /* Ẩn mũi tên trên các trình duyệt khác */
}
#nhapGT_TL, #result, #dis_none{
   display: none;
}
* {
   font-family: "Roboto", sans-serif;
   position: relative;
}
.Dola{
   width: 30px;
   height: auto;
}
.iconBalo{
   z-index: -10;
   width: 300px;
   height: auto;
   object-fit: cover;
   transform: scaleX(-1);
   mix-blend-mode: color-burn;
   position: absolute;
   top: 52px;
   left: 59%;
}
.title{
   padding-top: 100px;
   font-size: 25px;
   text-transform: uppercase;
   text-align: center;
}
#baloForm{
   text-align: center;
}
#baloForm .Box{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 30px;
}
#baloForm .Box .title_add{
   font-size: 16px;
   margin-right: 10px;
}
#baloForm .Box input, #nhapGT_TL .Box input{
   width: 50px;
   height: 30px;
   outline: none;
   border-radius: 7px;
   border: 1px solid #FF2000;
   text-align: center;
   cursor: pointer;
}
#baloForm button, #nhapGT_TL button{
   padding: 10px 20px;
   background: #FFF;
   border: 1px solid #1E90FF;
   color: #1E90FF;
   cursor: pointer;
   border-radius: 6px;
   margin-top: 15px;
}
#baloForm button:hover, #nhapGT_TL button:hover{
   background: #1E90FF;
   color: #FFF;
   transition: 0.2s;
}

.content_SS1{
   text-align: center;
   font-size: 19px;
   color: #1E90FF;
   position: relative;
}
.content_SS1 img{
   position: absolute;
   top: -20px;
   right: 33%;
   cursor: pointer;
}
.content_SS1 img:hover {
   transition: 1s;
   transform: rotate(180deg); 
}

.content_SS1 img:not(:hover) {
   transition: 1s;
   transform: rotate(0deg);
}
#nhapGT_TL{
   text-align: center;
}
#nhapGT_TL .Box{
   display: flex;
   align-items: center;
   justify-content: center;
}
#nhapGT_TL .Box p{
   margin-right: 15px;
}
#nhapGT_TL .Box input{
   margin-right: 15px;
}
#table_PA, #table_PA_ThamAn {
   border-collapse: collapse;
}
#table_PA td, #table_PA_ThamAn td{
   border: 1px solid #000;
   padding: 5px;
   text-align: center;
   width: 20px;
   height: 20px;
}
#result{
   text-align: center;
   margin-top: 15px;
}
.Bg_Nau{
   background: #e0e5e2;
}
/* Thêm lớp cho ô i\j */
.ij-cell {
   position: relative;
   background: linear-gradient(45deg, transparent 49%, #000 50%, transparent 51%);
   width: 15px; /* Giảm kích thước */
   height: 15px;
   text-align: center;
   vertical-align: middle;
}

.ij-cell::before,
.ij-cell::after {
   content: '';
   position: absolute;
   color: black;
}

.ij-cell::before {
   content: 'i';
   bottom: 2px;
   left: 5px;
}

.ij-cell::after {
   content: 'j';
   top: -1px;
   right: 3px;
}

.punk-bg {
   background-color: #ea6fea; /* Màu hồng neon */
   color: white; /* Chữ màu trắng */
}
.co-red{
   color: #FF2000;
}
.loadGame{
   width: 65px;
   height: auto;
}
.row_BPA{
   display: flex;
}
.BPA_QHD{
   display: flex;
   justify-content: end;
}
.conatiner{
   overflow-x: auto; /* Cho phép cuộn ngang khi nội dung quá rộng */
   -webkit-overflow-scrolling: touch; /* Thêm cho các thiết bị di động */
}
.left_QHD{
   width: calc(50% - 10px);
   text-align: right;
   padding-right: 30px;
   border-right: 1px solid #000;
   overflow-x: auto; /* Thêm thanh cuộn ngang */
   max-width: 50%; /* Giới hạn chiều rộng tối đa của bảng */
}
.right_ThamAn{
   z-index: 10;
   width: calc(50% - 10px);
   padding-left: 30px;
   text-align: left;
}
#result_QuyHoachDong{
   margin-top: 15px;
   text-align: left;
    margin-left: 77%;
}
#result_ThamAn{
   margin-top: 15px;
   max-width: 22%;
}
.mg0{
   margin-top: 0;
   margin-bottom: 0;
}
.title_PA{
   text-align: center;
}
